# Dataset folders
data/
dataset/
train/
test/

# Images
*.jpg
*.png

# Model files
*.h5
*.keras
*.pkl
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Keep required deployment files
!artifacts/
!artifacts/food11_model.keras
!artifacts/class_indices.json

!data/
data/*
!data/calories.csv